*
!.gitignore
 
!README.md

!Supplementary_Material_A.qmd

!Supplementary_Material_A.html

!coucal_demography.Rproj

!data/**

!images/*

!output/mod_stats/*

!output/sensitivity_analysis/*

!output/bootstraps/tidy/*

!license.txt