# Ignore everything
*

!.gitignore
.Rproj.user

# But not these files...
!README.html

!Supplementary_Material_A.qmd

!Supplementary_Material_A.html

!coucal_demography.Rproj

# ...even if they are in subdirectories
!*/

!data/raw/

!images/*

!output/*

!test

!license.txt